@{
    ViewData["Title"] = "Admin";
}

@model PMProjet.Models.Education

<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Admin
                <small>Configure your content</small>
            </h1>
        </div>
    </div>

    @using (Html.BeginForm())
    {

    <fieldset>

        <legend>Ajouter une education</legend>

        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Date)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Date)
                    @Html.ValidationMessageFor(model => model.Date)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Thumbnail)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Thumbnail)
                    @Html.ValidationMessageFor(model => model.Thumbnail)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.WebsiteAdress)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.WebsiteAdress)
                    @Html.ValidationMessageFor(model => model.WebsiteAdress)
                </td>
            </tr>
        </table>

        <br />

        <input type="submit" value="Ajouter" />
    </fieldset>
    }
</div>

<footer>
    <p>&copy; 2018 - Copyright UQAC</p>
</footer>
