@{
    ViewData["Title"] = "Admin";
}

@model PMProjet.ViewModels.SlideProjectViewModel

<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Admin
                <small>Configure your content</small>
            </h1>
        </div>
    </div>

    @using (Html.BeginForm())
    {
    <fieldset>

        <legend>Modifier le projet</legend>

        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Project.Id)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Project.Id)
                    @Html.ValidationMessageFor(model => model.Project.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Project.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Project.Name)
                    @Html.ValidationMessageFor(model => model.Project.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Project.Date)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Project.Date)
                    @Html.ValidationMessageFor(model => model.Project.Date)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Project.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Project.Description)
                    @Html.ValidationMessageFor(model => model.Project.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Project.Thumbnail)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Project.Thumbnail)
                    @Html.ValidationMessageFor(model => model.Project.Thumbnail)
                </td>
            </tr>
        </table>

        <br />
        <input type="submit" value="Modifier" />
    </fieldset>
    }

    <h2>Slides</h2>
    @Html.ActionLink("Add", "AddSlide", "Admin", new { projectId = Model.Project.Id })

    <table>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Image</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        @foreach (var slide in Model.Slides)
        {
            <tr>
                <td>@slide.Title</td>
                <td>@slide.Description</td>
                <td>@slide.Image</td>
                <td>@Html.ActionLink("Modify", "ModifySlide", "Admin", new { slideId = slide.Id })</td>
                <td>@Html.ActionLink("Delete", "DeleteSlide", "Admin", new { slideId = slide.Id })</td>
            </tr>
        }       
    </table>
</div>

<footer>
    <p>&copy; 2018 - Copyright UQAC</p>
</footer>
