@{
    ViewData["Title"] = "Admin";
}

@model PMProjet.Models.Slide

<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Admin
                <small>Configure your content</small>
            </h1>
        </div>
    </div>

    @using (Html.BeginForm())
    {
    <fieldset>

        <legend>Modifier un slide</legend>

        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ProjectId)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ProjectId)
                    @Html.ValidationMessageFor(model => model.ProjectId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Id)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Id)
                    @Html.ValidationMessageFor(model => model.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Title)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Image)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image)
                </td>
            </tr>
        </table>

        <br />
        <input type="submit" value="Modifier" />
    </fieldset>
    }
</div>

<footer>
    <p>&copy; 2018 - Copyright UQAC</p>
</footer>
