@{
    ViewData["Title"] = "Admin";
}

@model PMProjet.Models.Slide

<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Admin
                <small>Configure your content</small>
            </h1>
        </div>
    </div>

    @using (Html.BeginForm())
    {
    <fieldset>

        <legend>Modifier un slide</legend>

        <div>
            @Html.LabelFor(model => model.ProjectId)
            @Html.TextBoxFor(model => model.ProjectId)
            @Html.ValidationMessageFor(model => model.ProjectId)
        </div>
        <div>
            @Html.LabelFor(model => model.Id)
            @Html.TextBoxFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>
        <div>
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div>
            @Html.LabelFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div>
            @Html.LabelFor(model => model.Image)
            @Html.TextBoxFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <br />
        <input type="submit" value="Modifier" />
    </fieldset>
    }
</div>

<footer>
    <p>&copy; 2018 - Copyright UQAC</p>
</footer>
