@{
    ViewData["Title"] = "Portfolio Page";
}
@model List<PMProjet.Models.Project>
<!-- Page Content -->
<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Portfolio
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>

    <div class="row">
        @{
            int projectIndex = 0;
        }

        @foreach (var project in Model)
        {
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    @{
                        var imagePath = Url.Content("~/images/" + project.Thumbnail);
                    }
                    <img class="img-responsive" src="@imagePath" alt="@imagePath">
                </a>
                <h3>
                    <a href="#"><b>@project.Name</b> @project.Date </a>
                </h3>
                <p>@project.Description</p>
            </div>

            if (projectIndex % 3 == 2) // start new line for project
            {
                @:</div>
                @:<div class="row">
                @:<hr>
            }
            projectIndex++;
        }
    </div>


    <hr>

</div>
<!-- /.container -->


<footer>
    <p>&copy; 2018 - Copyright UQAC</p>
</footer>