
@{
    Layout = null;
}

@model PMProjet.ViewModels.SlideProjectViewModel

<!DOCTYPE html>

<html>
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Project.Name</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons ================================================== -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Slider ==================================================== -->
    <script src="~/js/ninjaVideoPlugin.js"></script>
    <link href="~/css/ninja-slider.css" rel="stylesheet" type="text/css" />
    <script src="~/js/ninja-slider.js" type="text/javascript"></script>
    <script>
        window.onload = onStart;
        function onStart() {
            lightbox(0);
        }

        function lightbox(idx) {
            //show the slider's wrapper: this is required when the transitionType has been set to "slide" in the ninja-slider.js
            var ninjaSldr = document.getElementById("ninja-slider");
            ninjaSldr.parentNode.style.display = "block";
            nslider.init(idx);
            var fsBtn = document.getElementById("fsBtn");
            fsBtn.click();
        }

        function fsIconClick(isFullscreen) {
            if (isFullscreen) {
                var ninjaSldr = document.getElementById("ninja-slider");
                ninjaSldr.parentNode.style.display = "none";
                window.location.href = "javascript: history.go(-1)";
            }

        }

    </script>
    <style>
        body {
            font: normal 0.9em Arial;
            margin: 0;
            background: #f5f5f5;
        }

        a {
            color: #1155CC;
        }

        ul li {
            padding: 10px 0;
        }

        header {
            display: block;
            padding: 60px 0 10px;
            background-color: #191919;
            text-align: center;
        }

            header a {
                font-family: sans-serif;
                font-size: 24px;
                line-height: 24px;
                padding: 8px 13px 7px;
                color: #4d5256;
                text-decoration: none;
                transition: color 0.7s;
            }

                header a.active {
                    font-weight: bold;
                    width: 24px;
                    height: 24px;
                    padding: 4px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 50%;
                    background: #4d5256;
                    color: #191919;
                }

        .gallery img {
            width: 179px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <a href="javascript: history.go(-1)">Back</a>
        <a>@Model.Project.Name</a>
    </header>
    <div style="display: none;">
        <div id="ninja-slider">
            <div class="slider-inner">
                <ul>
                    @foreach (Slide slide in Model.Slides)
                    {
                    <li>
                        @if( !@Url.Content("~/images/" + slide.Image).Contains("mp4"))
                        {
                            <!-- Image -->
                            <a class="ns-img" href="@Url.Content("~/images/" + slide.Image)"></a>
                            <div class="caption">
                                <h3>@slide.Title</h3>
                                <p>@slide.Description</p>
                            </div>
                        }
                        else
                        {
                            <!-- Video -->
                            <div class="video">
                                <video controls data-autoplay="false">
                                    <source src="@Url.Content("~/images/" + slide.Image)" type="video/mp4" />
                                </video>
                            </div>
                            <div class="caption">
                                <h3>@slide.Title</h3>
                                <p>@slide.Description</p>
                            </div>
                            <div class="video-playbutton-layer"></div>
                        }

                    </li>
                    }

                </ul>
                <div id="fsBtn" class="fs-icon" title="Expand/Close"></div>
            </div>
        </div>
    </div>
    <div style="max-width:700px;margin:90px auto;">
        <div class="gallery">
            <img src="~/images//smallCivilDisorder.png" onclick="lightbox(0)" style="width:auto; height:140px;" />
        </div>
    </div>
</body>
</html>
