@{
    ViewData["Title"] = "Education Page";
}
@model List<PMProjet.Models.Education>

<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Education
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>

    @foreach (var education in Model)
    {
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    @{
                    var imagePath = Url.Content("~/images/" + education.Thumbnail);
                    }
                    <img class="img-responsive" src="@imagePath" alt="@imagePath">
                </a>
            </div>
            <div class="col-md-5">
                <h3>@education.Name</h3>
                <h4>@education.Date</h4>
                <p>@education.Description</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
    }

    <footer>
        <p>&copy; 2018 - Copyright UQAC</p>
    </footer>
</div>